/* 
* @Author: 林伟桐
* @Date:   2017-07-31 17:39:21
* @Last Modified by:   林伟桐
* @Last Modified time: 2017-08-16 16:36:44
*/
html{
    font-family: "微软雅黑", "宋体", Arial, sans-serif;
}a,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,img,input,label,legend,li,mark,ol,p,section,span,strong,textarea,time,ul,var{
    margin:0;
    border:0;
    padding:0;
    font-style:normal;
}body,html{
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select:none;
    background-color:#fff;
}article,aside,details,fieldset,figcaption,figure,footer,header,main,nav,section{
    display:block;
}a,button,cite,code,del,em,img,label,mark,small,strong,textarea,time,var{
    display:inline-block;
}footer,header,section{
    position:relative;
}ol,ul{
    list-style:none;
}button,input,textarea{
    border:0;
    margin:0;
    padding:0;
    font-size:1em;
    line-height:1em;
    background-color:transparent;
}span{
    /*display:inline-block;*/
}a:active,a:hover{
    outline:0;
}a,a:visited{
    text-decoration:none;
}.wordWrap,label{
    word-wrap:break-word;
    word-break:break-all;
}table{
    border-collapse:collapse;
    border-spacing:0;
}td,th{
    padding:0;
}.clearfix:after{
    content:' ';
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
html,body{height: 100%;background-color: #efefef;}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}
@media screen and (min-width: 1024px) { html{ font-size: 24px; }}
@media screen and (max-width: 1024px) { html{ font-size: 24px; }}
@media screen and (max-width: 960px) { html{ font-size: 21px; }}
@media screen and (max-width: 768px) { html{ font-size: 18px; }}
@media screen and (max-width: 640px) { html{ font-size: 16px; }}
@media screen and (max-width: 460px) { html{ font-size: 14px;}}
@media screen and (max-width: 360px) { html{ font-size: 12px; }}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  
.contains{
    padding-top:50px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#app,.wh100{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.router-fade-enter-active, .router-fade-leave-active {
    transition: all .2s;
}
.router-fade-enter, .router-fade-leave-active {
    opacity: 0;
}
.lq-form-content{
    width: 98%;
    margin: 1rem auto;
}
.lq-btn-content{
    width: 90%;
    margin: 1rem auto 0;
}
.mint-header{
    height: 50px;
}
.mint-header .mintui{
    font-size: 20px;
}
.mint-header-title{
    font-size: 16px;
    height: 2rem;
    line-height: 2rem;
}